.littleclass-con {
  width: 95%;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

.littleclass-con-img {
  width: 95%;
  max-height: 400px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.littleclass-con-tit {
  display: block;
  color: #333;
  // font-size: large;
  font-weight: 400;
  text-align: left;
  line-height: 2.5;
  padding-left: 20px;
}

.littleclass-con-text{
  font-size: 32px;
}